$theme_color: rgba(0,105,94);
$word_color: rgba(127,131,133);
$max_height: 100vh;
$max_width: 1570px;
$back_color:#f6f6f6;
$Mleft:330px;
@font-face {
    font-family: coca_cola; 
    src:  url('./font/coca_cola.ttf')
}