.container {
  .content {
    margin-left: $Mleft;
    height: $max_height;
    background-color: $back_color;
    .logTabs{
      margin-left: 7%;
      width: 86%;
      margin-top: 10px;
      // background-color: aqua;
      font-size: 17px;
      overflow: hidden;
    }
  }
}
