.container {
  .content {
    margin-left: $Mleft;
    height: $max_height;
    background-color: $back_color;
  }
}

@mixin card($width,$height) {
  background-color: #ffffff;
  border-radius: 15px;
  width: $width;
  height: $height;
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: grid;
  .title {
    font: {
      family: coca_cola;
      size: 30px;
    }
    height:50px;
    margin:20px auto 0;
  }
  .item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 50px;

    label {
      width: 70px;
      margin-left: 50px;
    }

    .el-input {
      margin-left:10px;
      width: $width - 200px;
      height: 40px;
    }
  }
}

.main-form{
  display: flex;
  .main-form-left {
    width: 1230px;
    height: 510px;
    margin-left:80px;
    .form {
      width: 1200px;
      margin-top:50px;
      display: flex;
      .sender {
        @include card(600px,450px);
      }

      .receiver {
        @include card(600px,450px);
        margin-left: 30px;
      }

    }
    .details {
      @include card(1200px,300px);
      margin-top:40px;
      .detail{
        display: flex;
        flex-wrap:wrap;
        .item{
          margin-left:40px;
          .el-input {
            margin-left:10px;
            width: 350px;
            height: 40px;
          }
        }
      }
      .actions {
        width:600px;
        display: flex;
        margin-top:20px;
        margin-left: 400px;
        .el-button {
          margin-left: 70px;
          width:100px;
          height: 40px;
          font-size: large;
        }
      }
    }

  }
  .main-right{
    margin-top: 50px;
    width:300px;
    height: 800px;
    //background-color:#0e6f64;
    background-image: url("../../../assets/images/truck3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
}

