.container {
  .content {
    margin-left: $Mleft;
    height: $max_height;
    //background-color: $back_color;
    background-color: #f6f6f6;

    .main-form{
      margin:0 auto;
      width: 1600px;
      height:900px;
      background-color:$theme_color;


    }










  }
}
