.container {
  .content {
    margin-left: $Mleft;
    height: $max_height;
    //background-color: $back_color;
    background-color: #f6f6f6;
  }
}

.block-list {
  margin-top: 20px;
  margin-left: 50px;
  display: flex;

  .block1 {
    width: 700px;
    height: 150px;
    margin-left: 20px;
    border-radius: 20px;
    background-image: url("../../assets/images/loginBgi.png");
    background-size: cover;
  }

  .block2,
  .block3 {
    margin-left: 30px;
    width: 370px;
    height: 150px;
    border-radius: 20px;
    background-color: #ffffff;
  }
}

.table {
  border-radius: 20px;
  width: 1500px;
  margin-top: 20px;
  margin-left: 70px;
}

.page{
  margin-top: 20px;
  margin-left: 70%;
}

.mask {
  @include mask;
}

.editForm {
  //width,height,top,left
  @include mask-form(650px,500px,300px,630px);
}

