.container {
  .content {
    margin-left: $Mleft;
    height: $max_height;
    //background-color: $back_color;
    background-color: #f6f6f6;
    .card {
      margin-top: 30px;
      margin-left: 50px;
      height: 280px;
      width: 300px;
      background-color: white;
      float: left;
      // border:1px solid #ccc;
      border-top: 2px dashed var(--el-border-color);
      overflow: hidden;
      @mixin item-position($left, $color: $word_color, $size: 20px) {
        margin-left: $left;
        color: $color;
        font-size: $size;
      }
      .car_id {
        @include item-position(20px, black, 20px);
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      .car_number {
        @include item-position(20px, $word_color, 15px);
      }
      .car_type {
        @include item-position(20px, $word_color, 15px);
      }
      .car_ton {
        @include item-position(20px, $word_color, 15px);
      }
      .car_remark {
        height: 30px;
        @include item-position(20px, $word_color, 15px);
      }
      .car_time_buy {
        margin-top: 20px;
        @include item-position(20px, $word_color, 15px);
      }
      .car_time_check {
        margin-top: 2px;
        @include item-position(20px, $word_color, 15px);
      }
      .car_time_update {
        margin-top: 2px;
        @include item-position(20px, $word_color, 15px);
      }
      .car_delete {
        float: left;
        position: relative;
        margin-top: -50px;
        margin-left: 230px;
        width: 60px;
        height: 30px;
      }
      .truckList{
        margin-left: 15px;
        width:280px;
        max-height: 150px;
        overflow: auto;
      }
    }
  }
  .page {
    margin-top: -60px;
    margin-left: 75%;
  }
}
@mixin font {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 20px;
}

@mixin action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60px;
  @include font;
  border-radius: 15px;
  margin-left: 60px;
}
.block-list {
  margin: -10px auto;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;

  .search {
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;

    .search-input {
      height: 60px;
      font-size: 20px;
    }
  }

  .actions {
    margin-top: 50px;
    margin-right: 100px;
    width: 50%;
    display: flex;
    justify-content: right;

    .action1 {
      color: $theme_color;
      border: 2px solid $theme_color;
      background-color: #eff4f4;
      @include action;
      &:hover {
        color: #ffffff;
        background-color: $theme_color;
        transition: 0.5s;
      }
    }
    .action2 {
        color: #ffffff;
        border: 2px solid $theme_color;
        background-color: $theme_color;
        @include action;
        width: 240px;
        &:hover {
          color: $theme_color;
          background-color: #eff4f4;
          border: 2px solid $theme_color;
          transition: 0.5s;

      }
    }
  }
}

.table {
  border-radius: 20px;
  width: 1500px;
  margin-top: 20px;
  margin-left: 70px;
}


.mask {
  @include mask;
}

.editForm {
  //width,height,top,left
  @include mask-form(650px, 500px, 300px, 630px);
}

.detailsForm {
  //width,height,top,left
  @include mask-form(1000px, 680px, 120px, 480px);
  display:flex;
  flex-direction: column;
  .form-title {
    height:50px;
    padding-left: 430px;

    .closeBtn {
      width: 80px;
      margin-left: 300px;
    }
  }

  .form-info {
    margin-left: 50px;
    display: block;
    width: 900px;

    .goods-title{
      font-family: sans-serif;
      font-weight: bold;
      font-size:16px;
    }
    .el-table{
      margin-top: 20px;
      max-height: 300px;
      overflow: auto;
    }

    .el-descriptions {
      margin-bottom: 50px;
    }
  }
}
