.container {
  .content {
    margin-left: $Mleft;
    height: $max_height;
    background-color: $back_color;
  }
}

@mixin font {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 20px;
}

@mixin action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60px;
  @include font;
  border-radius: 15px;
  margin-left: 60px;
}

.block-list {
  margin: -10px auto;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;

  .search {
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;

    .search-input {
      height: 60px;
      font-size: 20px;
    }
  }

  .actions {
    margin-top: 50px;
    margin-right: 100px;
    width: 50%;
    display: flex;
    justify-content: right;

    .action1 {
      color: $theme_color;
      border: 2px solid $theme_color;
      background-color: #eff4f4;
      @include action;
      &:hover {
        color: #ffffff;
        background-color: $theme_color;
        transition: 0.5s;
      }
    }
    .action2 {
        color: #ffffff;
        border: 2px solid $theme_color;
        background-color: $theme_color;
        @include action;
        width: 180px;
        &:hover {
          color: $theme_color;
          background-color: #eff4f4;
          border: 2px solid $theme_color;
          transition: 0.5s;

      }
    }
  }
}

@mixin bold_font {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.user-main {
  margin-left: 50px;
  width: 1530px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  .user-block {
    margin: 10px 20px 30px 20px;
    width: 21%;
    height: 24%;
    border-radius: 30px;
    background-color: #ffffff;
    display: grid;

    .basic-info {
      display: flex;
      .image {
        margin-top: 20px;
        margin-left: 20px;
        width: 90px;
        height: 90px;
      }

      .right-info {
        display: grid;
        margin-top: 20px;
        margin-left: 30px;

        .username {
          @include bold_font;
          height: 30px;
        }

        .role {
          font-family: "Microsoft YaHei", sans-serif;
          font-size: 14px;
          color: #0e6f64;
        }

        .icons {
          .icon {
            margin-right: 20px;
          }
        }
      }
      .dot {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        margin-left: -10px;
        font-size: 20px;
        color: rgba(245, 108, 108);
        font-weight: bolder;
        border: 1px solid white;
        border-radius: 25px;
      }
    }
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    .extra-info {
      margin-left: 20px;
      display: grid;

      .email {
        font-family: "宋体", sans-serif;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
.page {
  position: relative;
  margin-top: 10px;
  margin-left: 70%;
  width: 100px;
  height: 100px;
}

.mask{
  @include mask;
}

.contactForm{
  display: flex;
  flex-direction: column;
  //width,height,top,left
  @include mask-form(1000px, 1000px, 70px, 450px);

  .form-title {
    padding-left: 425px;

    .closeBtn {
      width: 150px;
      margin-left: 250px;
    }
  }

  .alreadyChosenTruck,.alreadyChosenDriver{
    width:900px;
    margin: 10px auto;
  }
  .actions{
    display: flex;
    justify-content: space-evenly;
    .el-button{
      width: 100px;
    }
  }
  .free-title{
    font-family: coca_cola, serif;
    font-size: 20px;
    margin:0 auto;
  }
  .page2{
    margin-top: -10px;
    margin-left: 65%;
  }
  .el-table {
    margin: 20px auto;
    width: 900px;
    height: 200px;
    overflow: auto;
  }
}

.details{
  //width,height,top,left
  @include mask-form(1000px,600px,200px,450px);
  .form-title{
    padding-left:400px;
    .closeBtn{
      width: 80px;
      margin-left: 300px;
    }
  }
  .form-info{
    margin-left:50px;
    display: block;
    width:900px;
    .el-descriptions{
      margin-bottom:50px;
    }
  }

}


