<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ContactMapper">

    <insert id="bind" useGeneratedKeys="true">
        insert into contact(fk_truck_id, fk_driver_id)
        values(#{fkTruckID}, #{fkDriverID})
    </insert>

    <select id="findBind" resultType="int">
        select count(*)
        from contact
        where fk_truck_id=#{fkTruckID} and fk_driver_id=#{fkDriverID}
    </select>

    <delete id="unbind">
        delete from contact
        where fk_truck_id=#{fkTruckID} and  fk_driver_id=#{fkDriverID}
    </delete>

</mapper>