<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DriverMapper">

    <insert id="postDriver" useGeneratedKeys="true">
        insert into driver(name, sex, birth, phone, id_card, fk_team_id, state, remark, check_in_time, is_delete, alter_time)
        values(#{name}, #{sex}, #{birth}, #{phone}, #{idCard}, #{fkTeamID}, #{state}, #{remark}, #{checkInTime}, #{isDelete}, #{alterTime})
    </insert>

    <delete id="deleteDriver">
        delete from driver
        where driver_id=#{driverID}
    </delete>

    <update id="putDriver">
        update driver
        set
            name=#{name},
            sex=#{sex},
            birth=#{birth},
            phone=#{phone},
            id_card=#{idCard},
            fk_team_id=#{fkTeamID},
            state=#{state},
            remark=#{remark},
            check_in_time=#{checkInTime},
            is_delete=#{isDelete},
            alter_time=#{alterTime}
        where driver_id=#{driverID}
    </update>

    <resultMap id="driverMap" type="beans.Driver">
        <id column="driver_id" property="driverID" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="birth" property="birth" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="fk_team_id" property="fkTeamID" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="check_in_time" property="checkInTime" />
        <result column="is_delete" property="isDelete" />
        <result column="alter_time" property="alterTime" />
    </resultMap>

    <select id="getDriverByName" resultMap="driverMap">
        select *
        from driver
        where name=#{name}
    </select>

    <select id="getDriverById_card" resultMap="driverMap">
        select *
        from driver
        where id_card=#{idCard}
    </select>

</mapper>