<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TruckMapper">

    <insert id="postTruck" useGeneratedKeys="true">
        insert into truck(number, buy_date, type, tonnage, fk_team_id, state, remark, check_in_time, is_delete, alter_time)
        values(#{number}, #{buyDate}, #{type}, #{tonnage}, #{fkTeamID}, #{state},  #{remark}, #{checkInTime}, #{isDelete}, #{alterTime})
    </insert>

    <delete id="deleteTruck">
        delete from truck
        where truck_id=#{truckID}
    </delete>

    <update id="putTruck">
        update truck
        set
            number=#{number},
            buy_date=#{buyDate},
            type=#{type},
            tonnage=#{tonnage},
            fk_team_id=#{fkTeamID},
            state=#{state},
            remark=#{remark},
            check_in_time=#{checkInTime},
            is_delete=#{isDelete},
            alter_time=#{alterTime}
        where truck_id=#{truckID}
    </update>

    <resultMap id="truckMap" type="beans.Truck">
        <id column="truck_id" property="truckID" />
        <result column="number" property="number" />
        <result column="buy_date" property="buyDate" />
        <result column="type" property="type" />
        <result column="tonnage" property="tonnage" />
        <result column="fk_team_id" property="fkTeamID" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="check_in_time" property="checkInTime" />
        <result column="is_delete" property="isDelete" />
        <result column="alter_time" property="alterTime" />
    </resultMap>

    <select id="getTruck" resultMap="truckMap">
        select *
        from truck
        where number=#{number}
    </select>

</mapper>