<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tdsmy.transport.mapper.CarrierMapper">

    <insert id="addCarriers">
        <!--返回自增主键-->
        <selectKey keyProperty="carriersId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into carriers (send_company, send_address, send_linkman, send_phone,
        receive_company, receive_address, receive_linkman, receive_phone,
        leaver_date, finished_state, insurance_cost, transport_cost, other_cost, total_cost,
        remark, account, check_in_time, alter_time)
        values (#{sendCompany}, #{sendAddress}, #{sendLinkman}, #{sendPhone},
        #{receiveCompany}, #{receiveAddress}, #{receiveLinkman}, #{receivePhone},
        #{leaverDate}, #{finishedState}, #{insuranceCost}, #{transportCost}, #{otherCost}, #{totalCost},
        #{remark}, #{account}, #{checkInTime}, #{alterTime});
    </insert>
    <insert id="insertGoods">
        insert into goods (fk_carriers_id, goods_name, amount, weight, volume)
        values (#{fkCarriersId}, #{goodsName}, #{amount}, #{weight}, #{volume});
    </insert>

    <update id="updateCarrier">
        update carriers
        set receive_date= #{receiveDate},
            finished_state = #{finishedState}
        where carriers_id = #{carrierId};
    </update>

    <select id="searchInitCarriers" resultMap="queryInit">
        select *
        from carriers
        where account = #{account}
          and finished_state = 0
    </select>
    <resultMap id="queryInit" type="cn.tdsmy.transport.beans.vo.CarrierAndDriver">
        <association property="carrier">
            <id property="carriersId" column="carriers_id"/>
            <result property="sendCompany" column="send_company"/>
            <result property="sendAddress" column="send_address"/>
            <result property="sendLinkman" column="send_linkman"/>
            <result property="sendPhone" column="send_phone"/>
            <result property="receiveCompany" column="receive_company"/>
            <result property="receiveAddress" column="receive_address"/>
            <result property="receiveLinkman" column="receive_linkman"/>
            <result property="receivePhone" column="receive_phone"/>
            <result property="leaverDate" column="leaver_date"/>
            <result property="receiveDate" column="receive_date"/>
            <result property="finishedState" column="finished_state"/>
            <result property="insuranceCost" column="insurance_cost"/>
            <result property="transportCost" column="transport_cost"/>
            <result property="otherCost" column="other_cost"/>
            <result property="totalCost" column="total_cost"/>
            <result property="remark" column="remark"/>
            <result property="account" column="account"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
    </resultMap>

    <select id="searchScheduledCarriers" resultMap="query">
        select c.*, d.*
        from (((carriers as c
            inner join scheduling as s on c.carriers_id = s.fk_carriers_id)
            inner join contact as con on s.fk_truck_id = con.fk_truck_id)
            inner join driver as d on con.fk_driver_id = d.driver_id)
        where c.account = #{account}
          and c.finished_state = 1
    </select>
    <resultMap id="query" type="cn.tdsmy.transport.beans.vo.CarrierAndDriver">
        <association property="carrier">
            <id property="carriersId" column="carriers_id"/>
            <result property="sendCompany" column="send_company"/>
            <result property="sendAddress" column="send_address"/>
            <result property="sendLinkman" column="send_linkman"/>
            <result property="sendPhone" column="send_phone"/>
            <result property="receiveCompany" column="receive_company"/>
            <result property="receiveAddress" column="receive_address"/>
            <result property="receiveLinkman" column="receive_linkman"/>
            <result property="receivePhone" column="receive_phone"/>
            <result property="leaverDate" column="leaver_date"/>
            <result property="receiveDate" column="receive_date"/>
            <result property="finishedState" column="finished_state"/>
            <result property="insuranceCost" column="insurance_cost"/>
            <result property="transportCost" column="transport_cost"/>
            <result property="otherCost" column="other_cost"/>
            <result property="totalCost" column="total_cost"/>
            <result property="remark" column="remark"/>
            <result property="account" column="account"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="driver">
            <id property="driverId" column="driver_id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="birth" column="birth"/>
            <result property="phone" column="phone"/>
            <result property="idCard" column="id_card"/>
            <result property="fkTeamId" column="fk_team_id"/>
            <result property="state" column="state"/>
            <result property="remark" column="remark"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
    </resultMap>
</mapper>