<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tdsmy.transport.mapper.CostMapper">
    <update id="updateCost">
        update scheduling
        set oil_cost  = #{cost.oilCost},
            toll=#{cost.toll},
            fine=#{cost.fine},
            other_cost=#{cost.otherCost},
            total_cost=#{totalCost}
        where fk_carriers_id = #{cost.carrierId};
    </update>
    <update id="updateCarrierStatus">
        update carriers
        set finished_state = 3
        where carriers_id = #{carrierId};
    </update>

    <select id="selectCarriers" resultMap="query">
        select c.*, s.*, d.*, t.*
        from ((((carriers as c
            inner join scheduling as s on c.carriers_id = s.fk_carriers_id)
            inner join contact as con on s.fk_truck_id = con.fk_truck_id)
            inner join driver as d on con.fk_driver_id = d.driver_id)
            inner join truck as t on con.fk_truck_id = t.truck_id)
        where c.finished_state = 2
    </select>
    <resultMap id="query" type="cn.tdsmy.transport.beans.vo.CostQueryVO">
        <association property="carrier">
            <id property="carriersId" column="carriers_id"/>
            <result property="sendCompany" column="send_company"/>
            <result property="sendAddress" column="send_address"/>
            <result property="sendLinkman" column="send_linkman"/>
            <result property="sendPhone" column="send_phone"/>
            <result property="receiveCompany" column="receive_company"/>
            <result property="receiveAddress" column="receive_address"/>
            <result property="receiveLinkman" column="receive_linkman"/>
            <result property="receivePhone" column="receive_phone"/>
            <result property="leaverDate" column="leaver_date"/>
            <result property="receiveDate" column="receive_date"/>
            <result property="finishedState" column="finished_state"/>
            <result property="insuranceCost" column="insurance_cost"/>
            <result property="transportCost" column="transport_cost"/>
            <result property="otherCost" column="c.other_cost"/>
            <result property="totalCost" column="c.total_cost"/>
            <result property="remark" column="remark"/>
            <result property="account" column="account"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="scheduling">
            <id property="schedulingId" column="scheduling_id"/>
            <result property="startTime" column="start_time"/>
            <result property="fkCarriersId" column="fk_carriers_id"/>
            <result property="fkTruckId" column="fk_truck_id"/>
            <result property="oilCost" column="oil_cost"/>
            <result property="toll" column="toll"/>
            <result property="fine" column="fine"/>
            <result property="otherCost" column="s.other_cost"/>
            <result property="totalCost" column="s.total_cost"/>
            <result property="account" column="account"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="driver">
            <id property="driverId" column="driver_id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="birth" column="birth"/>
            <result property="phone" column="phone"/>
            <result property="idCard" column="id_card"/>
            <result property="fkTeamId" column="fk_team_id"/>
            <result property="state" column="state"/>
            <result property="remark" column="remark"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="truck">
            <id property="truckId" column="truck_id"/>
            <result property="number" column="number"/>
            <result property="buyDate" column="buy_date"/>
            <result property="truckType" column="truck_type"/>
            <result property="tonnage" column="tonnage"/>
            <result property="fkTeamId" column="fk_team_id"/>
            <result property="state" column="state"/>
            <result property="remark" column="remark"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
    </resultMap>


    <select id="selectCost" resultMap="cost">
        select c.*, s.*, d.*
        from (((carriers as c
            inner join scheduling as s on c.carriers_id = s.fk_carriers_id)
            inner join contact as con on s.fk_truck_id = con.fk_truck_id)
            inner join driver as d on con.fk_driver_id = d.driver_id)
        where c.finished_state = 3
    </select>
    <resultMap id="cost" type="cn.tdsmy.transport.beans.vo.CostVO">
        <association property="carrier">
            <id property="carriersId" column="carriers_id"/>
            <result property="sendCompany" column="send_company"/>
            <result property="sendAddress" column="send_address"/>
            <result property="sendLinkman" column="send_linkman"/>
            <result property="sendPhone" column="send_phone"/>
            <result property="receiveCompany" column="receive_company"/>
            <result property="receiveAddress" column="receive_address"/>
            <result property="receiveLinkman" column="receive_linkman"/>
            <result property="receivePhone" column="receive_phone"/>
            <result property="leaverDate" column="leaver_date"/>
            <result property="receiveDate" column="receive_date"/>
            <result property="finishedState" column="finished_state"/>
            <result property="insuranceCost" column="insurance_cost"/>
            <result property="transportCost" column="transport_cost"/>
            <result property="otherCost" column="other_cost"/>
            <result property="totalCost" column="total_cost"/>
            <result property="remark" column="remark"/>
            <result property="account" column="account"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="scheduling">
            <id property="schedulingId" column="scheduling_id"/>
            <result property="startTime" column="start_time"/>
            <result property="fkCarriersId" column="fk_carriers_id"/>
            <result property="fkTruckId" column="fk_truck_id"/>
            <result property="oilCost" column="oil_cost"/>
            <result property="toll" column="toll"/>
            <result property="fine" column="fine"/>
            <result property="otherCost" column="other_cost"/>
            <result property="totalCost" column="total_cost"/>
            <result property="account" column="account"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="driver">
            <id property="driverId" column="driver_id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="birth" column="birth"/>
            <result property="phone" column="phone"/>
            <result property="idCard" column="id_card"/>
            <result property="fkTeamId" column="fk_team_id"/>
            <result property="state" column="state"/>
            <result property="remark" column="remark"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
    </resultMap>
</mapper>