<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tdsmy.transport.mapper.ScheduleMapper">
    <insert id="insertSchedule">
        insert into scheduling (start_time, fk_carriers_id, fk_truck_id, account, check_in_time, alter_time)
        values (#{startTime}, #{fkCarriersId}, #{fkTruckId}, #{account}, #{checkInTime}, #{alterTime});
    </insert>
    <update id="updateTruckStatus">
        update truck
        set state = "Working"
        where truck_id = #{truckId};
    </update>
    <update id="updateDriverStatus">
        update driver
        set state = "Working"
        where driver_id = #{driverId};
    </update>
    <update id="updateCarrierStatus">
        update carriers
        set finished_state = 1
        where carriers_id = #{carrierId};
    </update>
    <select id="selectCarriers" resultType="cn.tdsmy.transport.beans.Carrier">
        select *
        from carriers
        where finished_state = 0
    </select>

    <select id="selectFreeTruck" resultMap="TruckAndDriver">
        select *
        from ((truck as t
            inner join contact as c on t.truck_id = c.fk_truck_id)
            inner join driver as d on c.fk_driver_id = d.driver_id)
        where t.state = "Free"
    </select>
    <resultMap id="TruckAndDriver" type="cn.tdsmy.transport.beans.vo.TruckAndDriver">
        <association property="truck">
            <id property="truckId" column="truck_id"/>
            <result property="number" column="number"/>
            <result property="buyDate" column="buy_date"/>
            <result property="truckType" column="truck_type"/>
            <result property="tonnage" column="tonnage"/>
            <result property="fkTeamId" column="fk_team_id"/>
            <result property="state" column="t.state"/>
            <result property="remark" column="remark"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
        <association property="driver">
            <id property="driverId" column="driver_id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="birth" column="birth"/>
            <result property="phone" column="phone"/>
            <result property="idCard" column="id_card"/>
            <result property="fkTeamId" column="fk_team_id"/>
            <result property="state" column="d.state"/>
            <result property="remark" column="remark"/>
            <result property="checkInTime" column="check_in_time"/>
            <result property="alterTime" column="alter_time"/>
        </association>
    </resultMap>

    <select id="getDriverId" resultType="java.lang.Integer">
        select fk_driver_id
        from contact
        where fk_truck_id = #{truckId};
    </select>
</mapper>