<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tdsmy.fleet.mapper.ContactMapper">
    <insert id="insertContact">
        insert into contact (fk_truck_id, fk_driver_id)
        values (#{truckId}, #{driverId});
    </insert>
    <delete id="deleteContact">
        delete
        from contact
        where contact_id = #{contactId};
    </delete>
</mapper>